.btn--yellow {
  width: 270px;
  height: 70px;
  position: relative;

  border-radius: 5px;
  background-color: #f5cf47;
  box-shadow: 0px 4px 0px #C89C00;

  z-index: 10;
  transition: all 0.5s ease-in-out;

  font-weight: 600;
  font-size: 15px;
  line-height: 32px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  will-change: box-shadow, box-shadow, color;

  &:hover {
    color: white;
    border-radius: 15px;
    box-shadow: 1px 7px 27px 9px #C89C00;
  }
}

@keyframes scale {
  to {
    transform: translate(-50%, -50%) scale(3);
    opacity: 0;
  }
}

@media (max-width: (992px)) {
  .btn--yellow {
    width: 220px;
    height: 60px;
  }
}

@media (max-width: (768px)) {
  .btn--yellow {
    width: 180px;
    height: 45px;
  }

}

@media (max-width: (480px)) {
  .btn--yellow {
    width: 170px;
    height: 40px;
  }

  .btn__text {
    font-size: 12px;
  }
}
