section {
  overflow: hidden;
}

.feedback {
  position: relative;
  height: 850px;

  background:
    url('../img/feedback_sky.webp')no-repeat center bottom/ auto,
    url('../img/feedback_girl.webp')no-repeat left -200px bottom/ auto,
    url('../img/feedback_bg.webp') no-repeat center center/ cover;

  &::before {
    position: absolute;
    content: url('../img/feedback_sky.webp');
    width: 100%;
    height: 200px;
    transform: rotate(180deg);
    top: 100px;
    right: -10%;
  }

  &__container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  &__wrapper {
    position: relative;
    padding: 30px;
    width: 470px;
    height: 550px;
    background-color: #fff;
    border-radius: 10px;


    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;

    &::before {
      position: absolute;
      content: url('../img/feedback_cust.webp');
      right: -35%;
      bottom: -33%;
    }
  }

  &__title {
    font-family: 'Philosopher';
    font-weight: 400;
    font-size: 35px;
    line-height: 35px;
    text-align: center;
  }

  &__descr {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 15px;
    line-height: 21px;
    color: #7E7E7E;
    text-align: center;
  }

  &__btn {
    display: block;
  }

  &-text {
    font-weight: 500;
  }
}

.feedback__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;

  .input__box {
    width: 100%;
  }
}

@media (max-width: (992px)) {
  .feedback__form {
    gap: 20px;
    padding: 0;
  }

  .feedback {
    .label__checkbox::after {
      display: none;
    }

    .input__checkbox:checked+.label__checkbox::before {
      background: #f5cf47;
    }
  }

}
