.reviews {
  overflow: hidden;

  &__card {
    box-sizing: border-box;
    position: relative;

    padding: 40px 35px 45px;

    display: flex;
    flex-direction: column;

    background-color: rgb(255, 255, 255);
    box-shadow: 0px 16px 51px rgba(0, 0, 0, 0.11);
  }

  &__text {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #363434;

  }

  &__btn {
    margin: 12px auto 40px;
    width: 150px;
    height: 35px;
    color: #008139;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;

    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.06);

    svg {
      margin-left: 12px;
    }
  }

  &__footer {
    display: flex;
    align-items: center;

  }

  &__link {
    margin-left: 12px;
  }

  &__social svg:last-child {
    margin-top: 10px;
    margin-left: 10px;
  }

  &__image {
    z-index: -1;
    position: absolute;
    right: 40px;
    bottom: 45px;
  }


  .reviews__swiper {
    width: 100%;
    overflow: hidden;
    position: relative;
  }

  .hero__btn3 {
    z-index: 15;
    cursor: pointer;
    position: absolute;
    left: 50%;
    margin-left: -115px;
    bottom: 10px;
    justify-content: center;
    display: flex;
    gap: 150px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  }

  .swiper-wrapper {
    margin: 0 20px;
    position: relative;
    margin-bottom: 70px;

    margin-left: -110px;
  }

  .swiper-slide {
    max-width: 570px;
    width: 100%;
    transition: all 0.3s ease-in-out;

    margin-top: 60px;
  }

  .swiper-slide-active,
  .swiper-slide-duplicate-prev {
    opacity: 0.5;
    margin-top: 0px;
  }

  .swiper-slide-next {
    margin-top: 60px;
    opacity: 1;
  }


  .swiper-pagination-bullet {
    bottom: 10px;
    left: 0;
    width: 10px;
    height: 10px;
  }



}
