<section class="about">
  <div class="about__container container">
<h2 class="about__title section__title">
  О нашем клубе
</h2>

<div class="about__content">
  <div class="about__left">
    <picture>
      <source srcset="img/about/about_horse.webp" type="image/webp">
      <img loading="lazy" src="img/about/about_horse.png" class="about_horse" width="800" height="500" alt="about_horse">
    </picture>
  </div>
  <div class="about__right">
    <div class="benefits">
      <div class="benefits__item">
        <div class="benefits__digital">1100+</div>
        <div class="benefits__descr">
          Довольный посетителей за последний год
        </div>
      </div>
      <div class="benefits__item">
        <div class="benefits__digital">50+</div>
        <div class="benefits__descr">
          Проведенных мероприятий за 6 месяцев
        </div>
      </div>
      <div class="benefits__item">
        <div class="benefits__digital">20+</div>
        <div class="benefits__descr">
          Выпущенных профессиональных спортсменов за 1 год
        </div>
      </div>
      <div class="benefits__item">
        <div class="benefits__digital">15+</div>
        <div class="benefits__descr">Регулярный занятий
          в неделю с профессиональными наставниками
        </div>
      </div>
    </div>
  </div>
  <div class="about__text">
    Занятия проводятся индивидуально и в группах, стоимость также будет зависеть от ваших навыков и умений. Более выгодные условия
    предусмотрены для регулярных занятий при покупке абонементов.
    Для тех, кто хочет отточить своё мастерство, разработаны программы по специализации (конкур, выездка и другие), участие в соревнованиях и чемпионатах. Для самых маленьких любителей лошадей действуют
    пони-клубы, где ребята учатся ухаживать за животными и ездить на милых и добрых пони.
  </div>
</div>
  </div>
</section>
