<section class="direction" id="direction">
  <div class="direction__container container">
    <div class="direction__title section__title">
      Направления клуба
    </div>


    <div class="direction__wrap">
      <div class="direction__item card anim">
        <picture>
          <source srcset="img/direction/direction_1.webp" type="image/webp">
          <img loading="lazy" src="img/direction/direction_1.png" class="direction__image card__img" width="320"
            height="220" alt="horse">
        </picture>
        <div class="card__caption">
          Уроки верховой езды
        </div>
        <div class="card__line"></div>
        <div class="card__descr">
          Уроки профессиональной верховой езды для любителей и начинающих
        </div>

      </div>
      <div class="direction__item card anim">
        <picture>
          <source srcset="img/direction/direction_2.webp" type="image/webp">
          <img loading="lazy" src="img/direction/direction_2.png" class="direction__image card__img" width="320"
            height="220" alt="horse">
        </picture>
        <div class="card__caption">
          Прогулки верхом с тренером
        </div>
        <div class="card__line"></div>
        <div class="card__descr">
          Тренировка клиентов, подготовка
          к занятиям конным спортом
          на профессиональном уровне под руководством опытных теннеров
        </div>

      </div>
      <div class="direction__item card anim">
        <picture>
          <source srcset="img/direction/direction_3.webp" type="image/webp">
          <img loading="lazy" src="img/direction/direction_3.png" class="card__img direction__image" width="320"
            height="220" alt="horse">
        </picture>
        <div class="card__caption">
          Фотосессии
        </div>
        <div class="card__line"></div>
        <div class="card__descr">
          Уроки профессиональной верховой езды для любителей и начинающих
        </div>
      </div>
      <div class="direction__item card anim">
        <picture>
          <source srcset="img/direction/direction_4.webp" type="image/webp">
          <img loading="lazy" src="img/direction/direction_4.png" class="direction__image card__img" width="320"
            height="220" alt="horse">
        </picture>
        <div class="card__caption">
          Прогулки верхом с тренером
        </div>
        <div class="card__line"></div>
        <div class="card__descr">
          Тренировка клиентов, подготовка
          к занятиям конным спортом
          на профессиональном уровне под руководством опытных теннеров
        </div>
      </div>
      <div class="card direction__item anim">
        <picture>
          <source srcset="img/direction/direction_5.webp" type="image/webp">
          <img loading="lazy" src="img/direction/direction_5.png" class="direction__image card__img" width="320"
            height="220" alt="horse">
        </picture>
        <div class="card__caption">
          Фотосессии
        </div>
        <div class="card__line"></div>
        <div class="card__descr">
          Уроки профессиональной верховой езды для любителей и начинающих
        </div>
      </div>
      <div class="direction__item card anim">
        <picture>
          <source srcset="img/direction/direction_6.webp" type="image/webp">
          <img loading="lazy" src="img/direction/direction_6.png" class="direction__image card__img" width="320"
            height="220" alt="horse">
        </picture>
        <div class="card__caption">
          Прогулки верхом
          с тренером
        </div>
        <div class="card__line"></div>
        <div class="card__descr">
          Тренировка клиентов, подготовка
          к занятиям конным спортом
          на профессиональном уровне под руководством опытных теннеров </div>
      </div>
    </div>
    <button class="direction__btn btn-reset btn__singup">
      <p class="btn__text"> записаться</p>
    </button>

</section>
