<section class="direction">
  <div class="direction__container container">
    <div class="direction__title section__title">
      Направления клуба
    </div>


    <div class="direction__wrap">
      <div class="direction__item card anim">
        <img loading="lazy" src="img/direction_1.jpg" class="direction__image card__img" width="320" height="320"
          alt="horse">
        <div class="card__caption">
          Уроки верховой езды
        </div>
        <div class="card__line"></div>
        <div class="card__descr">
          Уроки профессиональной верховой езды для любителей и начинающих
        </div>

      </div>
      <div class="direction__item card anim">
        <img loading="lazy" src="img/direction_2.jpg" class="direction__image card__img" width="320" height="320"
          alt="horse">
        <div class="card__caption">
          Прогулки верхом с тренером
        </div>
        <div class="card__line"></div>
        <div class="card__descr">
          Тренировка клиентов, подготовка
          к занятиям конным спортом
          на профессиональном уровне под руководством опытных теннеров
        </div>

      </div>
      <div class="direction__item card anim">
        <img loading="lazy" src="img/direction_3.jpg" class="direction__image card__img" width="320" height="320"
          alt="horse">
        <div class="card__caption">
          Фотосессии
        </div>
        <div class="card__line"></div>
        <div class="card__descr">
          Уроки профессиональной верховой езды для любителей и начинающих
        </div>
      </div>
      <div class="direction__item card anim">
        <img loading="lazy" src="img/direction_4.jpg" class="direction__image card__img" width="320" height="320"
          alt="horse">
        <div class="card__caption">
          Прогулки верхом
          с тренером
        </div>
        <div class="card__line"></div>
        <div class="card__descr">
          Тренировка клиентов, подготовка
          к занятиям конным спортом
          на профессиональном уровне под руководством опытных теннеров
        </div>
      </div>
      <div class="card direction__item anim">
        <img loading="lazy" src="img/direction_5.jpg" class="direction__image card__img" width="320" height="320"
          alt="horse">
        <div class="card__caption">
          Фотосессии
        </div>
        <div class="card__line"></div>
        <div class="card__descr">
          Уроки профессиональной верховой езды для любителей и начинающих
        </div>
      </div>
      <div class="direction__item card anim">
        <img loading="lazy" src="img/direction_6.jpg" class="direction__image card__img" width="320" height="320"
          alt="horse">
        <div class="card__caption">
          Прогулки верхом
          с тренером
        </div>
        <div class="card__line"></div>
        <div class="card__descr">
          Тренировка клиентов, подготовка
          к занятиям конным спортом
          на профессиональном уровне под руководством опытных теннеров </div>
      </div>
    </div>
    <button class="direction__btn btn-reset btn__singup">
      <p class="btn__text"> записаться</p>
    </button>

</section>
