<section class="features">
  <div class="features__container container">
    <h2 class="features__title section__title">
      Почему нас выбирают
    </h2>
    <p class="features__subtitle">
      Достоинства
    </p>
    <div class="features__content">
      <div class="features__item anim">
        <picture>
          <source srcset="img/features/features_1.webp" type="image/webp">
          <img loading="lazy" src="img/features/features_1.png" class="image" width="113" height="95" alt="map">
        </picture>
        <p class="features__tagline">
          Удобное расположение
        </p>
        <p class="features__desc">
          Мы находимся недалеко
          от автостанции «Восточный»
          чтобы вам было удобно добираться
        </p>
      </div>
      <div class="features__item anim">
        <picture>
          <source srcset="img/features/features_2.webp" type="image/webp">
          <img loading="lazy" src="img/features/features_2.png" class="image" width="156" height="118" alt="map">
        </picture>
        <p class="features__tagline">
          Обеденная зона
        </p>
        <p class="features__desc">
          Имеется столовая, чтобы Вы могли перекусить и немного отдохнуть. Бесплатно чай, кофе, печенки.
        </p>
      </div>
      <div class="features__item anim">
        <picture>
          <source srcset="img/features/features_3.webp" type="image/webp">
          <img loading="lazy" src="img/features/features_3.png" class="image" width="96" height="118" alt="map">
        </picture>
        <p class="features__tagline">
          Профессиональные тренера
        </p>
        <p class="features__desc">
          Наши преподаватели имеют награды в конном спорте, и отличные отзывы среди наших учеников
        </p>
      </div>
      <div class="features__item anim">
        <picture>
          <source srcset="img/features/features_4.webp" type="image/webp">
          <img loading="lazy" src="img/features/features_4.png" class="image" width="151" height="114" alt="map">
        </picture>
        <p class="features__tagline">
          Бесплатная парковка
        </p>
        <p class="features__desc">
          У нас имеется просторная парковка, чтобы вы могли без проблем припарковать свой автомобиль
        </p>
      </div>
    </div>
  </div>
</section>
