<section class="features">
  <div class="features__container container">
    <h2 class="features__title section__title">
      Почему нас выбирают
    </h2>
    <p class="features__subtitle">
      Достоинства
    </p>

    <div class="features__content">
      <div class="features__item anim">
        <img loading="lazy" src="img/features_map.jpg" class="image" width="113" height="95" alt="map">
        <p class="features__tagline">
          Удобное расположение
        </p>
        <p class="features__desc">
          Мы находимся недалеко
          от автостанции «Восточный»
          чтобы вам было удобно добираться
        </p>
      </div>
      <div class="features__item anim">
        <img loading="lazy" src="img/features_table.jpg" class="image" width="156" height="118" alt="map">
        <p class="features__tagline">
          Обеденная зона
        </p>
        <p class="features__desc">
          Имеется столовая, чтобы Вы могли перекусить и немного отдохнуть. Бесплатно чай, кофе, печенки.
        </p>
      </div>
      <div class="features__item anim">
        <img loading="lazy" src="img/features_watch.jpg" class="image" width="96" height="118" alt="map">
        <p class="features__tagline">
          Профессиональные тренера
        </p>
        <p class="features__desc">
          Наши преподаватели имеют награды в конном спорте, и отличные отзывы среди наших учеников
        </p>
      </div>
      <div class="features__item anim">
        <img loading="lazy" src="img/features_car.jpg" class="image" width="151" height="114" alt="map">
        <p class="features__tagline">
          Бесплатная парковка
        </p>
        <p class="features__desc">
          У нас имеется просторная парковка, чтобы вы могли без проблем припарковать свой автомобиль
        </p>
      </div>
    </div>

  </div>
</section>
