<section class="feedback">
  <div class="feedback__container container">
    <div class="feedback__wrapper">
      <h1 class="feedback__title">Отвечаем на вопросы</h1>
      <p class="feedback__descr">Мы ответим на все ваши вопросы по телефону,
        или вы можете записаться на бесплатное
        пробное занятие</p>
      <form action="#" class="form" enctype="multipart/form-data">
        <label class="form__label">
          <input class="input input-name" type="text" data-validate-field="name" name="Имя" placeholder="Введите имя">
        </label>

        <label class="form__label">
          <input class="input input-tel" type="tel" data-validate-field="tel" name="Телефон"
            placeholder="Введите телефон">
        </label>

        <button class="feedback__btn btn-reset btn__singup">Задать вопрос</button>

        <label class="custom-checkbox">
          <input type="checkbox" class="custom-checkbox__field">
          <span class="custom-checkbox__content">Даю согласие на обработку данных</span>
        </label>
      </form>
    </div>
  </div>
</section>
