<footer class="footer">
  <div class="footer__container container">
    <a href="#">
      <img loading="lazy" src="img/footer__logo.svg" class="image" width="150" height="50" alt="footer__logo">
    </a>
    <div class="footer__nav--wrapper">
      @include('nav.html')
      <button class="footer__btn btn-reset">записаться</button>
    </div>
  </div>
  <div class="lower container">
    <p class="politic"> <a href=""> Соглашение на обработку персональных данных</a></p>
    <p class="politic" > <a href=""> Политика конфенденциальности </a></p>
  </div>
</footer>
