<header class="header">
  <div class="header__container container">
    <button class="borger__btn btn-reset" id="burger">
      <span></span><span></span><span></span>
    </button>

    <a href="#">
      <img loading="lazy" src="img/logo.svg" class="image" width="150" height="50" alt="logo">
    </a>
    <div class="header__nav">
      @include('nav.html')
    </div>
    <div class="telephone__wrapper">
      <p class="telephone">
        <a href="#" class="telephone__link">+ 7 (000) 000-00-00</a>
      </p>
      <p class="time__work">
        Ежедневно 9:00 – 22:00
      </p>
    </div>


  </div>
</header>
