<div class="modal__overlay">
  <div class="modal">
    <h2 class="modal__title section__title">Записаться</h2>
    <div class="modal__exit">
      <p> закрыть</p>
      <svg width="30" height="32" viewBox="0 0 30 32" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd"
          d="M5.36612 5.72353C5.85427 5.20283 6.64573 5.20283 7.13388 5.72353L15 14.114L22.8661 5.72353C23.3543 5.20283 24.1457 5.20283 24.6339 5.72353C25.122 6.24423 25.122 7.08845 24.6339 7.60915L16.7678 15.9997L24.6339 24.3902C25.122 24.9109 25.122 25.7551 24.6339 26.2758C24.1457 26.7965 23.3543 26.7965 22.8661 26.2758L15 17.8853L7.13388 26.2758C6.64573 26.7965 5.85427 26.7965 5.36612 26.2758C4.87796 25.7551 4.87796 24.9109 5.36612 24.3902L13.2322 15.9997L5.36612 7.60915C4.87796 7.08845 4.87796 6.24423 5.36612 5.72353Z"
          fill="#000" />
      </svg>
    </div>


    <form action="#" class="from modal__form" id="form">

      <div class="input__box">
        <input id="signup__name" type="text" class="form__input _req" name="Имя">
        <label for="signup__name" class="form__label">Ваше имя</label>
      </div>

      <div class="input__box">
        <input id="signup__phone" class="form__input _req" type="tel" name="Телефон">
        <label for="signup__phone" class="form__label">Ваш телефон</label>
      </div>

      <div class="input__box">
        <input id="signup__Email" class="form__input _req _email" type="tel" name="Email">
        <label for="signup__Email" class="form__label">Ваш Email</label>
      </div>

      <div class="input__box">
        <input id="signup__date" class="form__input _req" type="datetime-local" name="trip-start" id="start"
          min="2023-06-07T09:00" max="2024-12-31T18:00">
        <label for="signup__date" class="form__label">Выберите дату</label>
      </div>

      <div class="input__box">
        <input id="signup__politic" type="checkbox" class="input__checkbox _req" checked>
        <label for="signup__politic" class="label__checkbox"> <span> Даю согласие на обработку данных</span>
        </label>
      </div>

      <button type="submit" class="btn-reset modal__btn">
        Отправить
      </button>

    </form>

  </div>
</div>
