<!-- <section class="visitors">
  <div class="visitors__container container">
    <div class="visitors__title section__title">
      Наши посетители
    </div>
  </div>
  <div class="swiper" id="swiper1">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="figure">
          <img loading="lazy" src="img/horse/1.jpg" class="swiper__img">
          <img loading="lazy" src="img/horse/3.jpg" class="swiper__img">
          <img loading="lazy" src="img/horse/5.jpg" class="swiper__img">
          <img loading="lazy" src="img/horse/7.jpg" class="swiper__img">
          <img loading="lazy" src="img/horse/10.jpg" class="swiper__img">
          <img loading="lazy" src="img/horse/4.jpg"  class="swiper__img">
          <img loading="lazy" src="img/horse/6.jpg"  class="swiper__img">
          <img loading="lazy" src="img/horse/2.jpg"  class="swiper__img">
          <img loading="lazy" src="img/horse/8.jpg"  class="swiper__img">
          <img loading="lazy" src="img/horse/9.jpg"  class="swiper__img">
          <div class="figcaption">Cлайд 1</div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="figure">
          <img src="img/horse/8.jpg" class="swiper__img">
          <img src="img/horse/1.jpg" class="swiper__img">
          <img src="img/horse/1.jpg" class="swiper__img">
          <div class="figcaption">Слайд 2</div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="figure">
          <img src="img/horse/9.jpg" class="swiper__img">
          <img src="img/horse/1.jpg" class="swiper__img">
          <img src="img/horse/1.jpg" class="swiper__img">
          <img src="img/horse/1.jpg" class="swiper__img">
          <img src="img/horse/1.jpg" class="swiper__img">
          <img src="img/horse/1.jpg" class="swiper__img">
          <img src="img/horse/1.jpg" class="swiper__img">
          <img src="img/horse/1.jpg" class="swiper__img">
          <div class="figcaption">Cлайд 3</div>
        </div>
      </div>
    </div>
  </div>
  <div class="hero__btn">
    <div class="hero__btn-left">
      <svg width="102" height="24" viewBox="0 0 102 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M0.939339 10.9393C0.353554 11.5251 0.353554 12.4749 0.939339 13.0607L10.4853 22.6066C11.0711 23.1924 12.0208 23.1924 12.6066 22.6066C13.1924 22.0208 13.1924 21.0711 12.6066 20.4853L4.12132 12L12.6066 3.51471C13.1924 2.92892 13.1924 1.97918 12.6066 1.39339C12.0208 0.807604 11.0711 0.807604 10.4853 1.39339L0.939339 10.9393ZM102 10.5L2 10.5L2 13.5L102 13.5L102 10.5Z"
          fill="black" />
      </svg>
    </div>
    <div class="hero__btn-right">
      <svg width="102" height="24" viewBox="0 0 102 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M101.061 13.0607C101.646 12.4749 101.646 11.5251 101.061 10.9393L91.5147 1.3934C90.9289 0.807612 89.9792 0.807612 89.3934 1.3934C88.8076 1.97918 88.8076 2.92893 89.3934 3.51472L97.8787 12L89.3934 20.4853C88.8076 21.0711 88.8076 22.0208 89.3934 22.6066C89.9792 23.1924 90.9289 23.1924 91.5147 22.6066L101.061 13.0607ZM0 13.5H100V10.5H0V13.5Z"
          fill="black" />
      </svg>
    </div>
  </div>
</section> -->
